# Import all Modules

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout

2024-01-06 18:30:43.509578: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

# Read the Dataset

In [4]:
df = pd.read_csv("../DATASETS/btc_15m.csv")

In [5]:
df.head()

              datetime      open      high       low     close      volume
0  2018-01-01 05:30:00  13715.65  13715.65  13400.01  13556.15  123.616013
1  2018-01-01 05:45:00  13533.75  13550.87  13402.00  13521.12   98.136430
2  2018-01-01 06:00:00  13500.00  13545.37  13450.00  13470.41   79.904037
3  2018-01-01 06:15:00  13494.65  13690.87  13450.00  13529.01  141.699719
4  2018-01-01 06:30:00  13528.99  13571.74  13402.28  13445.63   72.537533

# Split into Training & Testing Set

In [7]:
dataframe_training, dataframe_testing, y_train, y_test = train_test_split(
    df, df, test_size=0.2, random_state=42
)

# Pre-processing of Training Set

In [9]:
training_set = dataframe_training.iloc[:,1:2].values

In [11]:
sc = MinMaxScaler()
training_set_scaled = sc.fit_transform(training_set)

In [16]:
testing_set = dataframe_testing.iloc[:,1:2].values

# Number of timesteps

In [15]:
timesteps = 60 # OPTIMISE HYPER-PARAMETER?

In [ ]:
X_train = []
Y_train = []

for i in range(60, 1258):
    #APPEND INTO X_TRAIN: ROWS, COLUMN
    X_train.append(training_set_scaled[i-60:i, 0]) #MEMORY
    Y_train.append(training_set_scaled[i, 0]) #PREDICTIONS